/*
 *= require _reset
 */

body {
	margin:2em;
  font-family:"Raleway", serif;
  font-size:1.4em;
  line-height:1.25;
  letter-spacing: 0.1em;
  -webkit-text-size-adjust:120%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: rgba(0, 0, 0, 1);
  font-weight:700;
}

a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.content {
  text-align: center;
  height: 100%;
}
