
<% content_for :head do %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
  <%= stylesheet_link_tag "style" %>
<% end %>

<div class="content">
  <p>
    <a href="//leighmcculloch.com">LM</a> 
    <i class="fa fa-male"></i> <i class="fa fa-female"></i> 
    <a href="//donnamcculloch.com">DM</a></p>
</div>
